/vendor
/node_modules
.env

hg19.fa
hg19_L1_distance_only_hexamers_dif_by_one.fa.index
hg19_L1_distance.fa.index
hg19_L1_distance_only_hexamers_dif_by_one.fa
hg19_L1_distance.fa
rbp_binding_percentiles.fa.index
rbp_binding_percentiles.fa
RefSeq_exon_intron_sum2.txt
RefSeq_exon_intron_sum.txt
RefSeq_exon_intron_sum_corr.txt
RefSeq_exons_introns_no_ovl_2.txt
27_new_bedtools_final_loc
27_new_for_final_processing_final_loc
27_to_download
27_new_RBP
27_new_L1_distance_final_loc
27_new_bedtools
27_new_spliceman
27_genes_forsplicemannew_please2_processed.txt
reformatted_coding_exons.txt
genome_data
